/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: (VIOLET 7) => #7048e8;
GREY COLOR: (GRAY 8) => #343a40;
*/

/* FONT-FAMILY
font-family: 'Fredericka the Great', cursive; 
font-family: 'Fredoka One', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------- */
/* GENERAL STYLE */
/* ------------------------- */

body {
    font-family: 'Fredericka the Great', cursive;
    /* font-family: 'Fredoka One', cursive; */
    color: #fff;
}

ul {
    list-style: none;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.btn:hover,
.btn:active {
    cursor: pointer;
}

/* .btn:hover,
.btn:active {
} */

/* ------------------------- */
/* COMPONENT STYLE */
/* ------------------------- */

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

#container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7048e8;
    padding: 12px 30px;
    border-bottom: 2px #868e96 solid;
}

.logo {
    font-size: 52px;
}
.btn-login:link {
    border: 2px #fff solid;
    border-radius: 10px;
    padding: 10px 12px;
}

#main {
    flex: 1;
    display: flex;
}

.main-display {
    flex: 5;
    background-color: #e5dbff;
}

.book-filter {
    width: 100%;
    height: 80px;
    border: 1px #868e96 solid;
}

/* BOOKS */
.books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 48px;
}

.book {
    /* border: 2px #212529 solid; */
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    /* max-width: 320px;
    max-height: 360px; */
    width: 280px;
    height: 320px;
}

.book-top,
.book-info {
    padding: 16px;
}

.book-top {
    background-color: #7048e8;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    font-size: 24px;
    text-align: center;
}

a.btn-edit {
    font-size: 24px;
}

.book-info {
    flex: 1;
    border-left: 1px #7048e8 solid;
    border-right: 1px #7048e8 solid;
    color: #495057;
    background-color: #f3f0ff;
}

.book-info-top {
    /* text-shadow: 1px 1px black; */
    display: flex;
    justify-content: space-between;
}
.info {
    flex: 1;
}

/* .book-info-bottom{} */
span.text {
    font-size: 18px;
}

span.comments-text {
    display: block;
}

.book-bottom {
    background-color: #7048e8;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 4px 12px;
    text-align: center;
    /* position: relative; */
}
.btn-delete {
    font-size: 30px;
}

.display-info {
    flex: 1;
    border-left: 2px #868e96 solid;
    background-color: #b197fc;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
/* .display-info-top {
} */

h2.title-info {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* .display-info-bottom {
} */

#footer {
    background-color: #7048e8;
    padding-top: 8px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 18px;
    border-top: 2px #868e96 solid;
}

ul.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

li.link {
    margin-bottom: 6px;
}

/* Status-Read */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ced4da;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #845ef7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #845ef7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -------------------------FORM------------------------- */
.modal {
    background-color: #b197fc;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 10;
    height: auto;
    padding: 18px;
    border-radius: 10px;
    border: 5px #212529 solid;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
    z-index: 10;
    line-height: 1.5;
    color: #fff;
}

h1.library-form {
    text-align: center;
    color: #fff;
}

.textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.reading {
    display: flex;
    gap: 10px;
}

.btn-exit {
    font-size: 32px;
    display: flex;
    justify-content: flex-end;

    /* padding-right: 24px; */
}

.btns-form {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

a.btn-form {
    background-color: #845ef7;

    padding: 5px 10px;
    border-radius: 10px;
}

fieldset {
    margin: 5px;
    padding: 5px 10px;
}

.hidden {
    display: none;
}

/* Form Styling */

input,
textarea,
select,
button {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
